<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="gov.cmp430.multiapp">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.hardware.camera" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.hardware.camera.flash" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".AlarmActivity"></activity>
        <activity android:name=".CalendarActivity" />
        <activity android:name=".FlashLightActivity" />
        <activity android:name=".CheckList" />
        <activity android:name=".ScientificCalculator" />
        <activity android:name=".ScannerActivity" />
        <activity android:name=".BarCodeActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDXnA2r6FT68k7VwlI_-CBoT67TdF3S2M0" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="startapp_app_id"
            android:value="203921583" />

        <activity android:name=".WhereAmI" />
        <activity android:name=".WeatherMainActivity" />
        <activity android:name=".MultiAppMainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".AlarmBroadcastReceiver" />

        <service android:name=".MediaPlayerService"
            android:enabled="true">
        </service>


    </application>

</manifest>